bin/Debug/net6.0/csharping.deps.json
bin/Debug/net6.0/csharping.dll
bin/Debug/net6.0/csharping.pdb
bin/Debug/net6.0/csharping.runtimeconfig.json
bin/Debug/net6.0/ref/csharping.dll
obj/csharping.csproj.nuget.dgspec.json
obj/csharping.csproj.nuget.g.props
obj/csharping.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/csharping.AssemblyInfo.cs
obj/Debug/net6.0/csharping.AssemblyInfoInputs.cache
obj/Debug/net6.0/csharping.assets.cache
obj/Debug/net6.0/csharping.csproj.AssemblyReference.cache
obj/Debug/net6.0/csharping.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/csharping.csproj.FileListAbsolute.txt
obj/Debug/net6.0/csharping.dll
obj/Debug/net6.0/csharping.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/csharping.genruntimeconfig.cache
obj/Debug/net6.0/csharping.GlobalUsings.g.cs
obj/Debug/net6.0/csharping.pdb
obj/Debug/net6.0/ref/csharping.dll
